.combination {
	padding: 5px 10px
}

.combination label, .mvt-experiment h2 {
	padding-left: 10px
}

.mvt-experiment {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 30px;
    border-bottom: 2px;
    border-style: groove;
    border-bottom-color: lightgrey;
    border-top: none;
    border-left: none;
    border-right: none;
}

.lego-button {
	margin: 10px 10px;
}

#canvas-content {
	margin-left: 20px;
    margin-right: 20px;
}

.data-sidebar {
	background: #f7f7f7;
	width: 370px; 
	box-shadow: -1px 0 0 #e0e0e0;
}

.canvas-sidebar-title {
	color: #262626;
	transition-property: transition-property-names(height, false);
    transition-duration: 0.3s;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 0 20px;
    background: #f7f7f7;
    line-height: 1;
    height: 26px;
    box-shadow: inset 0 1px 0 #e0e0e0;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
}

.data-sidebar li {
	margin-left: 20px;
}