APP_ID = "CANVAS_MVT_COMBINATION"
APP_VERSION = "V_1"
APP_NAME = "MVT Combination App"
APP_TYPE = "PROJECT_JS"
SHOW_ERROR = true
xPRIVATE_KEY = 3Nmht87nZC3Ms4vZDZYsIrgBJ_BsYjzDdoz3rZazoj8
PRIVATE_KEY = qURswPxRfGnqaF_z53BV04d8Eqcc8abokQiw1odhl18

MAIN = "canvas-content.php"
SIDEBAR = "canvas-sidebar.php"


TOKEN = 6e3a173e9e74caba0dbb34b3e1db612f:6a13b0a4
PROJECT_ID = 4048040051